<div class="forms">
    <div>
        <div class="container">เพิ่มกิจกรรม</div>
        <div class="">
            <!-- /* ==================== form ==================== */ -->
            <form action="/events" method="post"  class="form">

                <div class="day">
                    <h4>เลือกวันที่</h4>
                        <select name="day" id="dayDropdown" class="dropdown">
                            <!-- ตัวเลือกวันที่จะถูกสร้างด้วย JavaScript -->
                        </select>
                        <select name="month" class="dropdown" id="monthDropdown">
                            <option value="มกราคม">มกราคม</option>
                            <option value="กุมภาพันธ์">กุมภาพันธ์</option>
                            <option value="มีนาคม">มีนาคม</option>
                            <option value="เมษายน">เมษายน</option>
                            <option value="พฤษภาคม">พฤษภาคม</option>
                            <option value="มิถุนายน">มิถุนายน</option>
                            <option value="กรกฎาคม">กรกฎาคม</option>
                            <option value="สิงหาคม">สิงหาคม</option>
                            <option value="กันยายน">กันยายน</option>
                            <option value="ตุลาคม">ตุลาคม</option>
                            <option value="พฤศจิกายน">พฤศจิกายน</option>
                            <option value="ธันวาคม">ธันวาคม</option>
                        </select>
                        <select name="year" class="dropdown" id="yearDropdown">
                            <!-- ตัวเลือกปีจะถูกสร้างด้วย JavaScript -->
                        </select>
                    
                </div>

                <div class="day">
                    <label for="eventname">ชื่อกิจกรรม</label>
                    <input type="text" class="eventname" name="eventname">
                </div>

                <div class="day">
                    <label for="day">รายละเอียด</label>
                    <textarea name="eventdiscription" cols="35" class="" rows="3"></textarea>
                </div>
                
                <div class="sub">
                    <button type="submit" class="submit-button" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>