<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อาสาสมัครสาธารณสุข หมู่ 8 หนองนกฮูก</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/user/headUser.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/user/conyact.css"  crossorigin="anonymous">
</head>
<body>
    <%- include('head') %>
    <section>
        <div class="black">
            <div class="blacklis">
                <div class="one">
                    <div class="ones">
                        <img src="" alt="รูป">
                    </div>
                </div>
                <div class="two">
                    <div class="three">
                        <div class="pop1">
                            <input type="text" readonly value="ผู้ช่วยผู้ใหญ่บ้าน">
                        </div>
                        <div class="pop2">
                            <input type="text" readonly value="นายภัทรพงศ์ วันทองสุข">
                        </div>
                    </div>
                    <div class="four">
                        <div class="five">
                            <ul>
                                <li><a href="#" class="toggle1-icon" data-target="telephone"><i class="bi bi-telephone"></i></a>
                                    <ul class="hidden" data-id="telephone">
                                        <li><a>098-7654321</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="toggle2-icon" data-target="facebook"><i class="bi bi-facebook"></i></a>
                                    <ul class="hidden" data-id="facebook">
                                        <li>pattarapong wanthongsuk</li>
                                    </ul>
                                </li>
                                <li><a href="#" class="toggle3-icon" data-target="line"><i class="bi bi-line"></i></a>
                                    <ul  class="hidden" data-id="line">
                                        <li>pattarapong89</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <footer>
        <p>อาสาสมัครสาธารณสุขหมู่ที่ 8 หนองนกฮูก</p>
        <p>หมู่ที่ 8 ตำบลมาบโป่ง อำเภอพานทอง จังหวัดชลบุรี รหัสไปรษณี 20160</p>
    </footer>


    <script src="/public/js/userJs/cona.js"></script>

</body>
</html>