<header>
    <nav class = "my-nav">
        <div class = "container">
            <a href="/home"><img src="/image/อสม.1.png" ></a>
            <p>อาสาสมัครสาธารณสุข หมู่ 8 หนองนกฮูก</p>
        </div>
    </nav> 
    <nav class = "container-menu">
        <ul>
            <li class="hop"><a href="#">บริการ</a>
            <ul class = "active">
                <li><a href="/formreport" >เเจ้งปัญหา</a></li>
                <li><a href="/formassist" >ขอความช่วยเหลือ</a></li>
                <li><a href="/formhelppatient" >ช่วยเหลือผู้ป่วย</a></li>
            </ul>
            </li>
            <li><a href="/follow">ติดตามผล</a></li>
            <li><a href="/activity">กิจกรรม</a></li>
            <li><a href="/conyact">ติดต่อเรา</a></li>
        </ul>
    </nav>
</header>
