<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อาสาสมัครสาธารณสุข หมู่ 8 หนองนกฮูก</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/user/helppatient.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/user/headUser.css"  crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/public/css/user/assistUser.css"  crossorigin="anonymous"> -->
    
    
</head>
<body>
    <%- include('head') %>

    <aside>
        <form id="myForm" method="POST" action="/help" >
            <div class = "ass">
                <h5>ข้อมูลผู้เเจ้งเหตุ</h5>
                <div class = "form-controls">
                    <label for="name">ชื่อ-นามสกุล</label>
                    <input type="text" id="name" name="name"  placeholder="ชื่อ-นามสกุล" >
                    <small>error message</small>
                </div>
                <div class = "form-controls">
                    <label for="phone number">เบอร์โทรศัพท์</label>
                    <input type="tel" id="phoneNumber" name = "phonNumber"  placeholder="เบอร์โทรศัพท์">
                    <small>error message</small>
                </div>
            </div>
            <div class = "asb">
                <h5>เเจ้งปัญหา</h5>
                <div class = "form-controls">
                    <label for="">ชื่อปัญหา</label>
                    <select name="problem" id="problem">
                        <option value="" disabled selected hidden>เลือกรายการ</option>
                        <option value="ผู้ป่วยอยู่บ้าน">ผู้ป่วยอยู่บ้าน</option>
                        <option value="ผู้ป่วยมีนัดกับหมอ">ผู้ป่วยมีนัดกับหมอ</option>
                        
                    </select>
                    <small>error message</small>
                </div>
                <div class = "form-controls">
                    <label for="patientname">ชื่อ-นามสกุลของผู้ป่วย</label>
                    <input type="text" name = "patientname" id="patientname" placeholder = "ชื่อ-นามสกุลของผู้ป่วย"><br>
                    <small>error message</small>
                </div>
                <div class="form-controls">
                    <label for="">อาการ/ข้อมูลเกี่ยวที่กับผู้ป่วย</label>
                    <textarea name="discriotionpatient" id="" cols="40" rows="3"></textarea>
                    <span>**กรุณาระบุข้อมูลที่สำคุญของผู้ป่วย**</span>
                    <!-- <small>error message</small> -->
                </div>
                <h6>ที่อยู่/สถานที่เกิดเหตุ</h6>
                <div class="form2">
                    <div class = "form-controls">
                        <label for="">หมู่บ้าน</label>
                        <select name="address" id="address">
                            <option value="" disabled selected hidden>เลือกที่เกิดเหตุ</option>
                            <option value="หมู่บ้านพานทอง">หมู่บ้านพานทอง</option>
                            <option value="หมู่บ้านโชติกา">หมู่บ้านโชติกา</option>
                            <option value="หมู่บ้านเเฟมิลี่ซิตี้พานทอง">หมู่บ้านเเฟมิลี่ซิตี้พานทอง</option>
                            <option value="สถานที่อื่น ๆ">สถานที่อื่น ๆ</option>
                        </select>
                        <small>error message</small>
                    </div>
                    <div class = "form-controls">
                        <label for="">บ้านเลขที่</label>
                        <input type="text" name="housenumber" id="housenumber" placeholder = "บ้านเลขที่">
                        <small>error message</small>
                    </div>
                </div>
                <div class = "sed">
                    <table>
                        <tr>
                            <td>หมู่</td><td>อำเภอ</td><td>ตำบล</td><td>จังหวัด</td>
                        </tr>
                        <tr>
                            <td><input type="text" name = "moo" readonly value="8"></td><td><input type="text" name = "subdistrict" readonly value="มาบโป่ง"></td>
                            <td><input type="text" name = "district" readonly value="พานทอง"></td><td><input type="text"  name = "province" readonly value="ชลบุรี"></td>
                        </tr>
                    </table> 
                </div>
                <div class = "form-controls">
                    <label for="">รายละเอียดสถานที่เพิ่มเติม</label>
                    <textarea name="description" id="description" cols="50" rows="5" value="ไม่มี"></textarea>
                </div>
                <div class="check">
                    <div class = "form-controls">
                        <input type="checkbox" name="checkbox" id="checkbox" value="อนุญาต">
                        <span for="checkbox">อนุญาตให้ อสม. เข้าไปดูแลผู้ป่วยภายในบ้าน</span><br>
                        <small>error message</small>
                    </div>
                </div>
                
                
                <div class = "controlss">
                    <label for="statuss">สถานะ</label>
                    <input type="range" class="slidd" name="statuss" min="0" max="100" value="0" oninput="updateSlider()">
                    <div class="disd" >0</div>
                    
                </div>
                <div class = "form1-control controlss">
                    <label for="descriptionstatuss">รายละเอียดสถานะ</label>
                    <textarea name="descriptionstatuss" id="descriptionstatuss" cols="50" rows="5"></textarea>
                </div>
                
                
                
                
                <div class="subb">
                    <button class="submit-button" >Submit</button>
                </div>

                <div class="popup" id="myPopup">
                    <div class="popup-content">
                        <div class="popup-icon">
                            <i class="bi bi-file-earmark-check"></i>
                        </div>
                        <!-- <span class="close" onclick="closePopup()">&times;</span> -->
                        <!-- เพิ่มเนื้อหาของ Popup ที่นี่ -->
                        <div class="popupmediate-icon">
                            <div class="list">
                                <span>รายงานปัญหาของคุณจะถูกส่งให้กับ อสม.</span><br>
                                <span>เพื่อให้ทาง อสม. เข้ามาเเก้ไขปัญหาโดยเร็วที่สุด</span>
                            </div>
                            <div>
                                <p>คุณต้องการรายงานปัญหาใช่หรือไม่!</p>
                            </div>
                            
                        </div>
                        <div class="popup-sub">
                            <button class="submitclose-button" onclick="closePopup()">close</button>
                            <button type="submit" class="submit-button" id="submit-button" onclick="submitForm()">Submit</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        

    </aside>
    <footer>
        <p>อาสาสมัครสาธารณสุขหมู่ที่ 8 หนองนกฮูก</p>
        <p>หมู่ที่ 8 ตำบลมาบโป่ง อำเภอพานทอง จังหวัดชลบุรี รหัสไปรษณี 20160</p>
    </footer>
    
    <script src="/public/js/userJs/formhelp.js"></script>
    
</body>
</html>