<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/image/อสม.1.png" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">Admin</span>
                <!-- <span class="profession">อาสาสมัครสาธารณสุข หมู่ 8</span> -->
            </div>
        </div>
        <i class="bi bi-arrow-right-short toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="nav-link">
                <a href="/homeAdmin">
                    <i class="bi bi-house-door-fill icon"></i>
                    <span class="text nav-text">Home</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/followAdmin">
                    <i class="bi bi-receipt icon"></i>
                    <span class="text nav-text">ติดตามผล</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/activityAdmin">
                    <i class="bi bi-calendar-event icon"></i>
                    <span class="text nav-text">กิจกรรม</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="/memberAdmin">
                    <i class="bi bi-people-fill icon"></i>
                    <span class="text nav-text">ข้อมูลสมาชิก</span>
                </a>
            </li>
            
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/officerAdmin">
                    <i class="bi bi-person-bounding-box icon"></i>
                    <span class="text nav-text">Pattarapong</span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <i class="bi bi-box-arrow-left icon"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>
    </div>
</nav>